{% extends 'elevemenu.html.twig'%}
 
 
 {% block bodycontent %}

            <!-- content starts -->
              
<div class="row">
      <div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i> formulaire reclamation</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">

                <h1>Ajouter commentaire</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}



            </div>
        </div>
    </div>
    <!--/span-->



  

    </div>
    <!-- content ends -->
 
     {% endblock %}