<html>
 <head>
  <title>Callander</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
  <script>
   
  $(document).ready(function() {
       var calendar = $('#calendar').fullCalendar({
           
                    editable:true,
                    header:{
                        left:'prev,next,today',
                        center:'title',
                        
                        right:'month,agendaWeek,agendaDay'
                        },
                        eventSources: [
                    {
                        url: "/gestion_ecole/web/app_dev.php/jsonCal",
                        method: "GET",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                             alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ]
                 });

        });
   
  </script>
 </head>
 <body>
  <br />
  <h2 align="center">testcal</h2>
  <br />
  <div class="container" >
   <div id="calendar"></div>
  </div>
 </body>
</html>