{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cantine</h1>

    <table>

        <tbody>
        {% for cantine in cantines %}
            <tr>
        <thead>
        <tr>
            <th>Prix</th>
        </tr>
        </thead>
                <td>{{ cantine.prix }}</td>
                <td>
                    <ul>


                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

    </ul>
{% endblock %}
